
.header_background{
    font-weight:bolder;
    color: #ffffff;
    text-align: center;
    border-radius: 1%;
    padding: 40px;
    margin-top: 170px;
    margin-right: 40px;
    margin-left: 40px;
}